.content-editable{
    height: 300px;
    width: 1000px;
    padding: 2px 8px;
    border: 1px solid black;
}

.placeholder{
    position: absolute;
    top: 30px;
    left: 0px;
    color: rgb(147, 197, 243);
    padding: 8px;
}

.glyf-editor-bold{
    color: yellow;
}

.glyf-editor-italics{
    color: aqua;
}

.glyf-editor-h1{
    background-color: blanchedalmond;
}

.glyf-editor-h2{
    background-color: rgb(221, 145, 30);
}

.glyf-editor-h3{
    background-color: rgb(145, 90, 7);
}

.toolBarWrapper{
    display:flex
}

.glyf-editor-banner{
    background-color: blueviolet;
    margin: 8px ;
}

.editor-table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9rem;
}

.editor-table-cell  {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.editor-table-header {
    background-color: #83004B;
    color: white;
}

ul > li{
    list-style-image: url(../../public/x-diamond-fill.svg);
}